<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.htwg.flowchartgenerator.editor.FlowChartEditor"
            default="true"
            extensions="atg"
            icon="icons/plugin-icon16.png"
            id="PluginATG.editor1"
            name="ATG Chart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IMethod"
            id="PluginATG.contribution1">
         <menu
               label="Auto Test Generator"
               path="additions"
               id="PluginATG.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="de.htwg.flowchartgenerator.popup.actions.MainAction"
               enablesFor="1"
               icon="icons/plugin-icon16.png"
               id="PluginATG.newAction"
               label="Build"
               menubarPath="PluginATG.menu1/group1">
         </action>
         <action
               class="hcmut.cse.testcasegenerator.popup.actions.MainAction"
               enablesFor="1"
               icon="icons/calendar.png"
               id="PluginATG.newAction1"
               label="Generator testcase"
               menubarPath="PluginATG.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
