<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="hcmut.autotestgenerator.editor.FlowChartEditor"
            default="true"
            extensions="ff3"
            icon="icons/plugin-icon16.png"
            id="PluginAT.editor1"
            name="Flow Chart Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IMethod"
            id="PluginATG.contribution1">
         <menu
               label="AT Generator"
               path="additions"
               id="PluginATG.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="hcmut.autotestgenerator.popup.actions.CoverAction"
               enablesFor="1"
               id="PluginATG.newAction"
               label="From last CodeCover session"
               menubarPath="PluginATG.menu1/group1">
         </action>
         <action
               class="hcmut.autotestgenerator.popup.actions.CoverFromAction"
               enablesFor="1"
               icon="icons/calendar.png"
               id="PluginATG.newAction"
               label="From CodeCover session"
               menubarPath="PluginATG.menu1/group1">
         </action>
         <action
               class="hcmut.autotestgenerator.popup.actions.MainAction"
               enablesFor="1"
               icon="icons/plugin-icon16.png"
               id="PluginATG.newAction"
               label="Build CFG"
               menubarPath="PluginATG.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
